/*I did not write this code. Only changed values for appearance.*/
/*From Noah Blon: https://codepen.io/noahblon/pen/OyajvN*/

input[type="range"] { 
    margin: auto;
    -webkit-appearance: none;
    position: relative;
    overflow: hidden;
    height: 40px;
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}

input[type="range"]:active {
    outline: none;
}

input[type="range"]:focus {
    outline: none;
}

::-webkit-slider-runnable-track {
    background: #5579bd;
    border-radius: 10px;
    border-color: #5579bd;
}

::-webkit-slider-runnable-track:active {
    outline: none;
}

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 40px; /* 1 */
    height: 40px;
    background: #5579bd;
    border-color: rgb(255,255,255);
    border-radius: 20px;
    box-shadow: -50vw 0 0 48vw rgb(255,255,255);
    border: 5px solid rgb(255,255,255); /* 1 */
    outline: none;
}

::-webkit-slider-thumb:active {
    outline: none;
}

::-moz-range-track {
    height: 5px;
    background: #5579bd;
}

::-webkit-range-track:active {
    outline: none;
}

::-moz-range-thumb {
    background: rgb(255,255,255);
    height: 40px;
    width: 40px;
    border: 10px solid rgb(255,255,255);
    border-radius: 20px;
    box-shadow: -100vw 0 0 100vw rgb(255,255,255);
    box-sizing: border-box;
}

::-moz-range-thumb:active {
    outline: none;
}

::-ms-fill-lower { 
    background: #5579bd;
}

::-ms-fill-lower:active {
    outline: none;
}

::-ms-thumb { 
    background: rgb(255,255,255);
    border: 10px solid rgb(255,255,255);
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-sizing: border-box;
}

::-ms-thumb:active {
    outline: none;
}

::-ms-ticks-after { 
    display: none; 
}

::-ms-ticks-before { 
    display: none; 
}

::-ms-track { 
    background: #5579bd;
    color: transparent;
    height: 40px;
    border: none;
}

::-ms-track:active {
    outline: none;
}

::-ms-tooltip { 
    display: none;
}