body {
    background-color: grey; 
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

h1 {
    font-family: 'Spicy Rice', cursive;
}

h2 {
    font-family: 'Acme', sans-serif;
}

.landing-page {
    height: 100%;
    width: 100%;
    margin: auto;
    padding-top: 12%;
}

#logo {
    font-size: 100px;
    height: 100px;
    color: black;
}

#matchPhoto {
    width: 100%;
    height: auto;
}


/*Modal Styling Fix. I did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.fade.in {
    opacity: 1;
}
/*Modal Styling Fix. I did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */

.modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
/*Modal Styling Fix. I did not write this code. Source: https://github.com/shlomiassaf/ngx-modialog/issues/280 */
.modal-backdrop.in {
    opacity: 0.5;
}


@media only screen and (max-width: 850px) {

    .landing-page {
        padding-top: 15%;
    }
}

@media only screen and (max-width: 760px) {

    .landing-page {
        padding-top: 18%;
    }
}

@media only screen and (max-width: 640px) {

    .landing-page {
        padding-top: 20%;
    }
}

@media only screen and (max-width: 600px) {

    .landing-page {
        padding-top: 25%;
    }
}

@media only screen and (max-width: 500px) {

    .landing-page {
        padding-top: 30%;
    }
}

